@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@400;600&display=swap');


header {
    background-color: #004175;
    color: #ffffff;
}
.container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

} 
/* .topnav {
    width: 100%;
    display: flex;
    justify-content:flex-start;
    
}
.navmenu {
    display: flex;
    justify-content: flex-end;
}  */

.navmenu > a { 

    padding: 16px;
    color: #ffffff;
    text-decoration: none;

}   
.mainpage > p {
    text-align: start;
    padding: 0px 400px;
}

.row {
    display:flex;
    justify-content:space-around;
    width: 100%;
}
.footerpic {
    width: 100%;
    height: 100%;
}

.dogadopt{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    border: black;
    /* height: 800px; */
}
.dogpics {
    border-style: groove;
    height:410px;
    width: 310px;
    margin-left: 1px;
    margin-right: 10px;
    /* margin-bottom: -5px; */
}

.dogpics > h3 {
    margin-top: 0;
    margin-left: 5px;
}

.dogpics > img {
    margin-left: 5px;
    margin-top: 5px;
}

figure p {
    margin-left: 8px;
}


.traits {
    display: flex;
    /* align-items: baseline; */
    gap: 10px;
    flex-wrap:  wrap;
    /* justify-content: space-evenly; */
    padding: 0 0 0 8px;
    
}
.traits li {
    list-style-type: none;
    background-color: #89DEEF;
    background-size: 10px;
    border-radius: 5px;
    font-family: open sans;
    font-size: 18px;
    /* border-style:ridge; */
}

.contacts {
    text-align: start;
    padding: 0 100px;
}
.address {
    font-style: italic;
}
.ourlocation , .hours {
    font-family: open sans;
    font-size: 20px;

}

main li {
    font-family: Open sans;
    font-size: 12px;
}

.footerclass {
    display: flex;
    height: 400px;
    
}

.donate , .volunteer , .location {
    flex: 1 1 auto;
    font-size: 20px;
    font-family: open sans;
    color: #ffffff;
    text-align: center;
    position: relative;
    
}

 footer h4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
} 
.donate {
    background:
    linear-gradient(rgba(123, 127, 241, 0.45), rgba(123, 127, 241, 0.45)), url("images/donate.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.volunteer {
    background:
    linear-gradient(rgba(123, 127, 241, 0.45), rgba(123, 127, 241, 0.45)), url("images/volunteer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.location {
    background:
    linear-gradient(rgba(123, 127, 241, 0.45), rgba(123, 127, 241, 0.45)), url("images/location.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.bottom {
    display: block;
}